# -----------------------------------------
# GLOBAL NODE / PACKAGE MANAGERS
# -----------------------------------------
node_modules/
npm-debug.log*


# -----------------------------------------
# ENVIRONMENT VARIABLES
# -----------------------------------------
.env
.env.*

# -----------------------------------------
# NEXT.JS (FRONTEND)
# -----------------------------------------
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo
# 
# -----------------------------------------
# GENERAL BUILD OUTPUT
# -----------------------------------------
build/
dist/
out/

# -----------------------------------------
# TESTING
# -----------------------------------------
coverage/
**/coverage/

# -----------------------------------------
# MISC SYSTEM / EDITOR FILES
# -----------------------------------------
.DS_Store
*.pem
.vscode/
*.tsbuildinfo

# -----------------------------------------
# DEPLOYMENT
# -----------------------------------------
.vercel

# -----------------------------------------
# LOG FILES
# -----------------------------------------
logs
*.log
**/*.log
